// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  font-family: monospace;
  font-size: 24px;
  color: white;
  display: inline;
  list-style-type: none;
  padding: 16px;
  float: left;
  background-color: #0F80FF;
  margin-right: 16px;
  margin-bottom: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1 {
  margin-bottom: 100px;
}
